body {
  overflow-x: hidden;
}

main {
  background-color: var(--bg_body);
}

.topic {
  background-color: #333;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 1rem 15% 1rem 15%;
  box-sizing: border-box;
}

.topic-type {
  color: var(--brand-secondary);
  margin: 0;
}

.topic-text {
  height: 100%;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.topic-description {
  padding-top: 1rem;
}

.topic-card {
  height: fit-content;
  padding: 0.1rem;
  background-color: white;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0 1px 0,
    rgba(17, 17, 26, 0.1) 0 8px 24px,
    rgba(17, 17, 26, 0.1) 0 16px 48px;
  color: black;
  margin-top: 1rem;
  width: 100%;
}

.topic-details {
  padding: 1rem;
}

.topic-details p {
  margin: 0.5rem 0;
}

.topic-details span {
  font-weight: 400;
}

.topic > * img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.add-favorites-container {
  border: 1px solid #ddd;
  padding: 0.5rem 1.4rem;
  text-align: left;
}

.add-favorites-button {
  align-items: center;
  background-color: var(--brand-secondary);
  color: white;
  padding: 0.8rem 0.8rem;
  font-weight: 400;
  font-size: 1.5rem;
  border: 0;
  width: 100%;
  text-align: center;
  height: auto;
  display: inline-flex;
  justify-content: center;
  gap: 8px;
}

.add-favorites-button ion-icon {
  height: 30px;
  width: 30px;
}

.unlimited-credits {
  color: #7a7979;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
}

.sub-topics-container {
  margin-top: 2rem;
  background-color: var(--bg_default);
  border-radius: 0.3rem;
  border: 1px solid var(--lines-color);
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.sub-topics-container h1 {
  padding-right: 0;
  padding-left: 1.5rem;
  margin-block: 1rem;
  font-weight: 700;
  color: var(--body-text);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--lines-color);
  color: var(--body-text);
}

.green-checkmark {
  color: green;
  width: 24px;
  height: 24px;
}

footer {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.logo-div :hover {
  cursor: pointer;
}

/* desktop view */

@media only screen and (min-width: 920px) {
  .sub-topics-container h1 {
    padding-right: 20rem;
  }

  .sub-topics-container {
    width: 40%;
    margin-left: 15%;
  }

  .topic {
    padding-top: 1.7rem;
    padding-bottom: 2rem;
    display: block;
  }

  .topic-card {
    position: absolute;
    right: 12%;
    max-width: 30rem;
    width: 28%;
    top: 15rem;
  }

  .topic-text {
    width: 100%;
    align-items: flex-start;
    text-align: left;
  }

  .topic-description {
    width: 60%;
  }
}
