@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --bg_body2: #d4ecfc;    
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --gold-color: #cdb73b;
    font-family: 'Lato', sans-serif;
  }


body {
    height: fit-content;
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}


  header {
  height: 90px;
  border-bottom: #333333 1px solid;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border-bottom:#333333 0px solid;
  width: 100%;
}

.navbar-buttons-div {
  display: flex;
  margin-right: 30px;
  gap: 12px;
}

#logo {
  color: var(--brand-primary);
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-left: 25px;
  font-size: 26px;
}

nav > * button {
  color: var(--body-text);
  height: 35px;
  width: 50px;
  background-color: var(--bg_default);
  border: 1px var(--secondary-color) solid;
  border-radius: 8px;
}

ion-icon {
  height: 55%;
  width: 55%;
}

.welcome-section {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.welcome-section img {
  width: 100%;
}
h1 {
  font-size: 32px;
  color: var(--brand-secondary);
  margin: 0;
  margin-left: 18px;
  font-family: sans-serif;
}

.welcome-section > p {
  font-size: 1.1rem;
  margin-top: 8px;
  margin-left: 18px;
  font-weight: 100;
  padding-right: 8px;
}

.search-section {
  height: fit-content;
  background-color: var(--bg_body);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px ;
}

.search-section > * ion-icon {
  height: 36px;
  width: 36px;
}

.search-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  height: auto;
  color: #03C180;
  background-color: var(--bg_default);
  border-radius: 12px;
  padding: 18px;
  padding-top: 8px;
  box-shadow: 0px 0px 5px 0px  rgba(0,0,0,0.5);
  padding-bottom: 0;

}

.search-div {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.sort-div {
  display: grid;
  grid-template-columns:1% 49% 1% 49%;
  height: 100%;
}

.vl {
  border-left: 1px solid var(--secondary-color);
  height: 100%;
}

#my-vl {
  border-left: 0px solid var(--secondary-color);
}
.dropdown {
  padding-bottom: 12px;
}

.search-card >* textarea {
  border: 0px;
  font-size: 1.5rem;
  overflow: hidden;
  width: 100%;
  height: 40px;
  padding-top: 6px;
  
}

.search-card >* ion-icon {
  color: var(--body-text)
}

hr {
  margin: 0;
  margin-left:-18px;
  margin-right:-18px;
  width: auto;
  color: var(--body-text);
}

.dropdown > h5 {
  color: var(--body-text);
  margin: 0;
  margin-top: 8px;
  font-weight: 400;
}

.dropbtn > h4 {
  color: var(--body-text);
  margin: 0;
  font-weight: 700;
  align-self: center;
}
.dropbtn > ion-icon {
  height: 24px;
  width: 24px;  
}
.dropbtn {
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

.dropdown-content {
  display: none;
}

.card-section-holder {
  background-color: var(--bg_body);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 12px;

}

.card-image {
width: 100%;
}

.card-title {
  display: inline-flex;
  height: 20px;
  width: 100%;
  margin: 0;
  margin-left: 40px;

}

.card-description {
  height: 20px;
  width: 100%;
  padding-left: 24px;
  margin: 0;
  margin-top: 16px;
  font-weight: 100;
}


.card-author {
  height: 20px;
  width: 100%;
  padding-left: 24px;
  font-size: .9rem;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 100;
  color: var(--secondary-color);
}

.card-div {
  background-color: var(--bg_default);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0px 4px 0px rgba(0,0,0,0.3);
  border-radius: 12px;
}

.search-result {
  width: 100%;
  padding-left: 12px;
}


.rating-icon {
height: 18px;
width: 18px;
color: var(--gold-color);
}

.stars-div {
  margin-top: 30px;
  margin-bottom: 8px;
  padding-left: 8px;
  display: inline-flex;
  align-self: start;
}

.footer-msg {
  background-color: var(--bg_body);
  margin: 0;
  display: none;
}

.footer-msg > p {

  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-msg {
    display: block;
    align-items: center;
  }

  .welcome-section {
    align-items: center;
  }

  .dropdown {
    padding-left: 8px;
  }
  .search-div {
    width: 60%;
    display: flex;
    align-items: flex-start;
  }
  .search-card >* textarea {
  display: flex;
  width: 70%;
  }
  .search-card {
    flex-direction: row;
    padding-top: 0;
  }

  .search-card > textarea {
    font-size: 10px;
  }

  .sort-div {
    width: 40%;
  }

  hr {
    display: none;
  }

  #my-vl {
    border-left: 1px solid var(--secondary-color);
  }

  .card-section-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

  }
  
  .card-div {
    box-shadow: 0 0px 1px 0px rgba(0,0,0,0.3);
  }
  .card-description {
    font-size: 12px;
    display: inline-flex;
    align-self: start;
    height: auto;
    margin-left: 32px;
    margin-right: 32px;
    margin: 0;
    margin-top: 16px;
    width: 80%;
  }

  footer {
    
    display: flex;
    margin: 0;
    box-shadow: 0 0px 3px 0px rgba(0,0,0,0.3);
    padding-left: 24px;
  }
  footer > h3 {
    font-size: 15px;
    font-weight: 700;
  }
}